
.button-wrapper {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#sortButton {
    width: 300px;
    margin-top: 15px;
  
}

#sortButton2 {
    width: 300px;
    margin-top: 20px;
}

p {
    margin-top:15px;
}

#productContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top:15px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .productCard {
    background: rgb(247, 246, 246);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 17px 4px rgba(196, 184, 184, 0.8);
    text-align: center; 
  }

  .productCard  h2 {
    margin-top:0px;
  }

  .productCard  button {
    border-radius: 15px;
    margin-top:5px;
  }


  .div-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top:15px;
  }

  div-form, fieldset {
    text-align: center;
  }

.add {
  width: 150px;
  margin-top:15px;
  margin-bottom:15px;
}